* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;
    background-color: black; */
}

body, html {
    height: 100%;
    margin: 0;
  }


.text-white {
    text-decoration: none;
}

.logoText {
    text-decoration: none;
}

.signup {
    text-decoration: none;
    color: white;
}

.form-container {
    width: 100%;
  height: 100vh; /* full height of the viewport */
  padding: 20px;
  box-sizing: border-box;
}

.bodyItem {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    margin-top: 10px;
}
.signup a {
    color: white;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

.src {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
    height: 50px;
}

.rounded {
    height: 60vh;

}

.imageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    color: gray;
    font-size: 20em;
    opacity: 0.1;
    z-index: 0;
    white-space: nowrap;
    pointer-events: none;
}



.logoTextItem {
    font-size: 3em;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1030; /* ensures it's above most other elements */
  }

  .page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
  }

  .bottom-navbar .btn a {
    text-decoration: none;
  }

  footer {
    height: 70px; /* match the height of the fixed navbar so you can pad the content */
}

.src {
    width: 50px;
    height: 50px;
}